body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e53571;
  color: #ffff;
}

.sig,
.gr {
  margin-top: -10px;
  margin-left: 15px;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.div:nth-child(8n + 2),
.div:nth-child(8n + 4),
.div:nth-child(8n + 5),
.div:nth-child(8n + 7) {
  background-color: #c32d61;
}

.div {
  background-color: #a41744;  
  border: 1px solid #e63571;
  height: 200px;
}

.area {
  background-color: #360e1b;
  height: 240px;
  text-transform: uppercase;
  margin-top: -50px;
}

.heading {
  background-color: #360e1b;
  padding: 10px;
  border-radius: 8px;
}

.details-link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.details-link:hover {
  color: #360e1b;
}

img {
  height: 80px;
}

@keyframes blink {
  0% {
    opacity: 1;
    color: lightblue;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
    color: yellow;
  }

  100% {
    opacity: 1;
    color: white;
  }
}

.blink {
  animation: blink 3s infinite;
}


